<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="checkin.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Slab" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      </head>
      <body>
            <h1 class="title">OWL</h1>
            <h2 class="checkin">How are you feeling from 1 to 10?</h2>
            
            <form action = '/start' method = "post">
                <input type = "text" name = "number"/></br>
                <input type = "date" name = "date"/></form></br>
                <a href ="/start">
                <input type = "submit"/>
                </a>
            </form>
            
            
      </body>

</html>
