<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <form action = '/journal' method = "post" >
                <label>Start Journal Entry</label></br>
                <input type = "text" name = "entry" /></br>
                <label>Date</label></br>
                <input type="datetime-local" name = "date"></br>
                <input type = "submit" value = "Save" class="button" /></br>
            </form>
        </div>


        <div style="text-align:center">
           <h1>All your journal entries are here :)</h1>
            {% for entry in entries %}
            
                <p>{{entry["entry"]}} on {{entry["date"]}}</p>

                {% endfor %}
        </div>
    </body>
</html>