<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="journal.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Slab" />
    </head>
    <body>
        <div>
            <form action = '/journal' method = "post" >
                <label>Start Journal Entry</label></br>
                <input type = "text" name = "entry" /></br>
                <label>Date</label></br>
                <input type="datetime-local" name = "date"></br>
                <input type = "submit" value = "Save" class="button" /></br>
            </form>
        </div>

        <div style="text-align:right">
            <p>see past check ins here:</p>
            <form action = '/past' method = 'post'>
                <input type = "text" name = "number"/></br>
                <input type = "date" name = "date"/>
                <input type="submit">
            </form>
            
            
        </div>

        <div style="text-align:center">
           <h1>All your journal entries are here :)</h1>
            {% for entry in entries %}
            
                <p>{{entry["entry"]}} on {{entry["date"]}}</p>

                {% endfor %}
        </div>

        
    </body>
</html>